/* css styles */

.profile-pic {
  width: 150px;  
  height: 150px; 
  border-radius: 50%;
  object-fit: cover;
  float: right;
  margin-top: -150px;  
  margin-right: 20px;
  border: 3px solid white;
}